bs4==0.0.1
requests==2.20.0
redis==2.10.6
celery==4.2.1
SQLAlchemy==1.1.9
PyMySQL==0.7.11

Werkzeug==0.12.2
elasticsearch
elasticsearch-async
tornado

numpy
scikit-learn
pandas
ccxt

selenium
influxdb
websocket-client

lxml
scipy
scrapy
matplotlib==3.0.2